.log-TRACE {
    font-weight: bold;
    color: grey;
}

.log-DEBUG {
    font-weight: bold;
    color: blue;
}

.log-INFO {
    font-weight: bold;
    color: green;
}

.log-WARN {
    font-weight: bold;
    color: orange;
}

.log-ERROR {
    font-weight: bold;
    color: red;
}

.red {
    color: red;
}

.brown {
    color: brown;
}

.black {
    color: black;
}

.orange {
    color: orange;
}

.orangered {
    color: orangered;
}

.darkred {
    color: darkred;
}

.green {
    color: green;
}

.darkgreen {
    color: darkgreen;
}

.blue {
    color: blue;
}

.darkblue {
    color: darkblue;
}

.yellow {
    color: yellow;
}

.bigger {
    font-size: 1.4em;
}

.smaller {
    font-size: 0.7em;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.spinner {
    background-image: url("images/spinner.gif");
    width: 75px;
    height: 75px;
}

.beenlogo {
    background-image: url("images/been.gif");
    width: 500px;
    height: 155px;
}